<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Spring Security Demos</title>
  <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
</head>

<body style="padding-bottom: 0">

<div th:insert="~{header :: nav}"></div>

<div class="jumbotron">
  <div class="container" style="padding-top: 30px">
    <h1>Spring Security</h1>
    <p style="margin-top: 20px;">Spring Security with in memory auth providers</p>
    <p style="margin-top: 20px;"><a class="btn btn-primary btn-lg" href="https://spring.io/projects/spring-security" role="button"> documentation &raquo;</a></p>
  </div>
</div>

  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Github</h2>
      <p>Spring <Security></Security></p>
      <p><a class="btn btn-default" href="https://github.com/spring-projects/spring-security" role="button">Github &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Stackoverflow</h2>
      <p>Spring Security questions</p>
      <p><a class="btn btn-default" href="https://stackoverflow.com/search?q=spring-security" role="button"> &raquo;</a></p>
    </div>
  </div>

  <hr>

</div>

</body>

</html>